# Copyright (c) IBM Corporation 2020
# Apache License, Version 2.0 (see https://opensource.org/licenses/Apache-2.0)

---
# tasks file for zmf_cpm_manage_software_instance

- name: Read instance record
  block:
    - name: Read from json file path
      set_fact:
        instance_record: "{{ lookup('file', instance_info_json_path) | from_json }}"

    - name: "Perform action <{{ instance_action_name }}> on {{ instance_record['registry-info']['object-id'] }}"
      uri:
        url: "https://{{ zmf_host }}:{{ zmf_port }}/zosmf/provisioning/rest/1.0/scr/\
              {{ instance_record['registry-info']['object-id'] }}/actions/{{ instance_action_name }}"
        return_content: yes
        user: "{{ zmf_user| trim }}"
        password: "{{ zmf_password| trim  }}"
        force_basic_auth: yes
        headers:
          Host: "{{ zmf_host }}"
          Origin: "https://{{ zmf_host }}"
        method: POST
        status_code: "200"
        validate_certs: no
        body_format: json
        body: '{}'
      delegate_to: localhost
      register: action_results

    - name: "Action <{{ instance_action_name }}> progress status: in-progress"
      uri:
        url: "https://{{ zmf_host }}:{{ zmf_port }}/zosmf\
            /provisioning/rest/1.0/scr\
            /{{ instance_record['registry-info']['object-id'] }}\
            /actions/{{ action_results.json['action-id'] }}"
        return_content: yes
        user: "{{ zmf_user| trim }}"
        password: "{{ zmf_password| trim  }}"
        force_basic_auth: yes
        headers:
          Host: "{{ zmf_host }}"
          Origin: "https://{{ zmf_host }}"
        method: GET
        status_code: "200"
        validate_certs: no
      delegate_to: localhost
      register: action_status_result
      until: ('json' in action_status_result) and (action_status_result.json.state == "complete" or action_status_result.json.state == "failed")
      retries: "{{ api_polling_retry_count }}"
      delay: "{{ api_polling_interval_seconds }}"

    - name: "Display privision failure information"
      fail:
        msg: "Action <{{ instance_action_name }}> progress status: {{ action_status_result.json.state }} "
      when: action_status_result.json.state == "failed"

    - debug:
        msg: "Action <{{ instance_action_name }}> progress status: {{ action_status_result.json.state }}"
      when: action_status_result.json.state == "complete"
